<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="head">
            <div class="logo-topzone">
                <a href="/">
                    <i class="topzone-logo christmas "></i>
                </a>
                <a href="/tekzone/khac-biet-aar-va-apr-tieu-chuan-cua-hang-uy-quyen-apple-1411356">
                    <i class="topzone-autho christmas"></i>
                </a>
            </div>
            <ul class="menu">
                <li class="menu-ip ">
                    <a href="/iphone">
                        <span>iPhone</span>
                    </a>
                </li>
                <li class="menu-mac ">
                    <a href="/mac">
                        <span>Mac</span>
                    </a>
                </li>
                <li class="menu-ipad ">
                    <a href="/ipad">
                        <span>iPad</span>
                    </a>
                </li>
                <li class="menu-watch ">
                    <a href="/apple-watch">
                        <span>Watch</span>
                    </a>
                </li>
                    <li class="menu-sound ">
                        <a href="/am-thanh">
                            <span>Âm thanh</span>
                        </a>
                    </li>
               
                <li class="menu-access ">
                    <a href="/phu-kien">
                        <span>Phụ kiện</span>
                    </a>
                </li>
                    <li class="menu-news ">
                        <a href="/tekzone">
                            <span>TekZone</span>
                        </a>
                    </li>
                    <li class="menu-access ">
                        <a href="/topcare">
                            <span>TopCare</span>
                        </a>
                    </li>
            </ul>
            <div class="search-cart">
                <div class="search-sp">
                    <i class="topzone-search"></i>
                </div>
                <a href="/cart" class="cart">
                    <i class="topzone-cart"></i>
                </a>
                <div class="view-cart">
                    <i class="topzone-cohang"></i>
                    <span>Đã thêm sản phẩm vào giỏ hàng</span>
                    <a href="/cart">Xem giỏ hàng</a>
                </div>
            </div>
            <form class="form-search" onsubmit="return false;">
                <div class="click-search">
                    <i class="topzone-search"></i>
                    <input type="text" placeholder="Tìm kiếm sản phẩm">
                    <i class="topzone-delSearch"></i>
                </div>
                <button type="submit" class="submit-search" style="display:none">
                </button>
                <div class="sg-search">
                </div>
            </form>
        </div>
    </header>
</body>
</html>